* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

header {
    background-image: url("../img/front-01.jpg");
    background-size: cover;
    height: 600px;
}

.caixa {
    color: white;
    font-size: 14px;
    text-align: center;
}

header h2 {
    margin-bottom: 3rem;
}

header a,
.botao-curriculo {
    background-color: #fd4082;
    border-radius: 1.5rem;
    color: white;
    font-size: 0.8rem;
    padding: 0.6rem 1.5rem;
    text-decoration: none;
}

header a:hover,
.botao-curriculo:hover {
    background-color: #009de1;
}

.caixa,
main, 
section {
    margin: 0 auto;
    max-width: 940px;    
    padding-top: 4.5rem;
}

main h2 {
    text-align: center;
}

.sobre-mim {
    display: flex;
}

.sobre-mim-descricao {
    max-width: 30rem;
    margin-right: 2rem;
}

section h2 {
    text-align: center;
}

.redes-sociais {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;;
}

.redes-sociais img {
    min-width: 2rem;
}

.rede-sociais-itens {
    background-color: #fd408252;
    padding: 1.5rem;
    border-radius: 0.6rem;
}

.rede-sociais-itens:hover {
    background-color: #009de171;
}

footer {    
    background-color: #010d37;
    color: white;
    margin-top: 3rem;
    padding: 5px;
    text-align: center;
}