/* Estilo para todo o site */
:root {
    --rosa-principal: #fd4082;
    --azul-principal: #009de1;
    --rosa-secundaria: #fd408252;
    --azul-secundario: #009de171;
    --branco-principal: #ffffff;
    --azul-footer: #010d37;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Estilo do header */
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../img/img-fundo.jpg");
    background-position: center;
}

.container__conteudo {
    margin: 1em;
}

.container__titulo {
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 0.2em;
}

.container__paragrafo {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 3em;
}

.container__link {
    font-size: 0.8em;
    font-weight: 200;
    background-color: var(--rosa-principal);
    border-radius: 1.5em;
    padding: 0.8em 2em;
    text-decoration: none;
}

.container__link:hover {
    background-color: var(--azul-principal);
}

.container__titulo,
.container__paragrafo,
.container__link {
    color: var(--branco-principal);
}

.caixa,
main, 
section {
    margin: 0 auto;
    max-width: 940px;    
    padding-top: 4.5rem;
}

main h2 {
    text-align: center;
}

.sobre-mim {
    display: flex;
}

.sobre-mim-descricao {
    max-width: 30rem;
    margin-right: 2rem;
}

section h2 {
    text-align: center;
}

.redes-sociais {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;;
}

.redes-sociais img {
    min-width: 2rem;
}

.rede-sociais-itens {
    background-color: #fd408252;
    padding: 1.5rem;
    border-radius: 0.6rem;
}

.rede-sociais-itens:hover {
    background-color: #009de171;
}

footer {    
    background-color: #010d37;
    color: white;
    margin-top: 3rem;
    padding: 5px;
    text-align: center;
}