/* Estilo para todo o site */
:root {
    --azul-footer: #010d37;
    --azul-principal: #009de1;
    --azul-secundario: #009de171;
    --branco-principal: #ffffff;
    --cor-vermelha: #ff0000;
    --rosa-principal: #fd4082;
    --rosa-secundaria: #fd408252;
}

* {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Estilo do header */
.container {
    align-items: center;
    background-image: url("../img/img-fundo.jpg");
    background-position: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.container__conteudo {
    margin: 1em;
}

.container__titulo {
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 0.2em;
}

.container__paragrafo {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 3em;
}

.container__link {
    background-color: var(--rosa-principal);
    border-radius: 1.5em;
    font-size: 0.8em;
    font-weight: 200;
    padding: 0.8em 2em;
}

.container__link:hover {
    background-color: var(--azul-principal);
}

.container__titulo,
.container__paragrafo,
.container__link {
    color: var(--branco-principal);
}

/* Estilo da main */
.container-main {
    align-items: center;
    display: flex;
    height: 100vh;
    margin: 0 auto;
    margin-bottom: 2em;
    max-width: 924px;
}

.container-main__descricao {
    width: 50%;
}

.container-main__habilidade {
    margin-left: 5em;
}

.container-main__titulo {
    margin-bottom: 0.5em;
}

.container-main__paragrafo {
    text-align: justify;
    text-indent: 1em;
}

.container-main__lista {
    margin-bottom: 2em;
}

.container-main__item:hover {
    cursor: pointer;
    font-weight: bold;
}

/* Estilo redes sociais */
.container-redes-sociais {
    margin-bottom: 3em;
    width: 100%;
}

.container-redes-sociais__titulo {
    margin-bottom: 1em;
    text-align: center;
}

.container-redes-sociais__flex {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 924px;
}

/* Estilo footer */
.container-footer {
    align-items: center;
    background-color: var(--azul-footer);
    display: flex;
    height: 8em;
    justify-content: center;
    width: 100%;
}

.container-footer__conteudo {
    margin: 0 auto;
    max-width: 924px;
}

.container-footer__paragrafo {
    color: var(--branco-principal);
    font-size: 1em;
    text-align: center;
}

.container-footer__paragrafo span {
    color: var(--cor-vermelha);
}

/* Responsividade */
@media (max-width: 809px) {
    .container-main {
        flex-wrap: wrap;
    }

    .container-main__descricao,
    .container-main__habilidade {
        padding: 5em 1em;
        width: 100%;
    }

    .container-main__titulo {
        text-align: center;
    }

    .container-main__habilidade {
        margin: 0;
        padding-top: 0;
    }

    .container-redes-sociais {
        margin-top: 8em;
    }
}
